body {
  background: url("images/cinemabg.jpeg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 80px;
}

h2 {
  color: white;
}

.darkbox {
  background: rgba(0, 0, 0, .5);
  border-radius: 25px
}

label {
  color: white;
  font-size: 48px;
}

#searchBox1, #searchBox2 {
  font-size: 48px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 48px; 
    line-height: normal;
    border-radius: 8px;
}

.btmbar {
  color: white;
  position: fixed;
  text-align: center;
  vertical-align: center;
  bottom: 0px;
  right: 0px;
  height: 60px;
  background-color: black;
}



ul {
  color: white;
  font-size: 24px;
}

#results {
  display: none;
}

#compare {
  display: none;
}

.resultlist:hover {
  font-size: larger;
}

.selected {
  font-weight: bold;
}

.titleList {
  font-size: smaller;
}

/*Got this from a button generator site. ngl I don't know most of what's going on here.*/
.btn-oldstyle {
  background-color: #D9CBB2;
  border-color: #D9CBB2;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #d2c2a4;
  background-image: -moz-linear-gradient(top,#D9CBB2,#c8b490);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#D9CBB2),to(#c8b490));
  background-image: -webkit-linear-gradient(top,#D9CBB2,#c8b490);
  background-image: -o-linear-gradient(top,#D9CBB2,#c8b490);
  background-image: linear-gradient(to bottom,#D9CBB2,#c8b490);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9cbb2', endColorstr='#ffc8b38f', GradientType=0);
  border-color: #c8b490 #c8b490 #af915d;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  background-color: #c8b490;
}
.btn-oldstyle:active,
.btn-oldstyle.active,
.btn-oldstyle.active:hover {
  background-color: #d1bfa1;
  border-color: #c8b490;
}
.btn-oldstyle.disabled:hover,
.btn-oldstyle.disabled:focus,
.btn-oldstyle.disabled:active,
.btn-oldstyle.disabled.active,
.btn-oldstyle[disabled] .btn-oldstyle:hover,
.btn-oldstyle[disabled] .btn-oldstyle:focus,
.btn-oldstyle[disabled] .btn-oldstyle:active,
.btn-oldstyle[disabled] .btn-oldstyle.active {
  background-color: #D9CBB2;
  border-color: #D9CBB2;
}

